@import "./logo.css";
@import "./list.css";
@import "./menu.css";

.sidebar {
    background: var(--gray40);
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding-block-end: 1.5rem;
    padding-block-start: 1.5rem;
    /* inline-size: 200px; */
    border-radius: .5rem;

    overflow: auto;

}
